:root {
  --unix-blue: #003366;
  --bg-color: #ffffff;
  --text-color: #1b2b3a;
  --card-bg: #ffffff;
  --menu-hover: rgba(0, 51, 102, 0.2);
  --background-image: url('/light-bg.png');
  --icon-color: #1b2b3a;
}

body.dark-theme {
  --bg-color: #121212;
  --text-color: #eaeaea;
  --card-bg: #1c1c1c;
  --menu-hover: rgba(61, 124, 207, 0.25);
  --background-image: url('/dark-bg.png');
  --icon-color: #eaeaea;
}
